@charset "utf-8";

.center-div-80
{
    margin: 0 auto;
    width: 80%;
}

.player-align-right
{
    align="right";
}

.background-style
{
    background-color: #111111;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.img-logo {
    max-width: 500px;
    width: 60%;
    margin:auto;
}

.img-subtitle {
    max-width: 500px;
    width: 80%;
    margin:auto;
}

.nav-icon {
    width:5%;
    height: auto;
    max-width:200px;
}

*
{
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  list-style: none;
}

a { text-decoration: none; }

header 
{
  background-color: #111111; padding: 15px;
}

header .labelMenu 
{ 
  color: #FFF; 
  transition: all 0.2s; 
  width: 40px; 
  height: 40px; 
  display: inline-block;
  text-align: center;
  line-height: 40px;
  border-radius: 100px;
}

header .labelMenu:hover { background-color: #B27170; cursor: pointer;  }

/* NAVGATION: */

.logo-menu-op{
    max-width: 80px;
}

.menu 
{
  position: fixed;
  top: 0; left: -205px; bottom: 0;
  min-width: 200px; max-width: 200px;
  min-height: 100vh; max-height: 100vh;
  background-color: #111111;
  box-shadow: 0 0 16px rgba(0, 0, 0, .28);
  transition: all 0.2s;
  z-index: 50;
}

.menu h1 
{
  background-color: #111111;
  text-align: center;
  color: #B27170; 
  padding: 10px;
}

.menu ul a { display: flex; padding: 10px;  color: #F5F5F5; transition: all 0.2s; }

.menu a:hover { background-color: #DDD; }

.menu ul:first-child { border-bottom: 1px solid #DDD; }
/* A primeira <ul> do menu (primeiro filho (first-child)) */

.menu ul a li:first-child { margin-right: 10px; }

/* A primeira <li> de cada <ul> do menu (primeiro filho (first-child)) (Icones) */

/* Cores Icones */

.menu ul a .icone1 { color: #B27170; }
.menu ul a .icone2 { color: #B27170; }
.menu ul a .icone3 { color: #B27170; }
.menu ul a .icone4 { color: #B27170; }
.menu ul a .icone5 { color: #B27170; }
.menu ul a .icone6 { color: #B27170; }

.menu ul:last-child a:hover li:first-child { color: #111111; }

/* Na ultima <ul>, quando o mouse passas sobre os links de cada uma, a primeira <li> muda a cor para um cinza mais escuro */

.opacMenu
{
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 40; 
}


p 
{
  text-align: center; padding: 40px; color: #DDD; font-size: 50px; text-shadow: 1px 1px 1px #222;
}

p span { color: #ff3366; }

.menu-text {
    width:90px;
}

/*END OF NAV*/

.latest-release {
    width: 50%;
    margin:auto;
}

.videos {
    width: 100%;
    margin:auto;
    height: 100%;
}

.video-container {

    width:100%;
    border-radius: 2px;
    margin:auto;
    margin-bottom: 12px;
    max-width: 900px;
}

.video-player {
    margin-top:12px;
    margin-bottom: 30px;
    height: 300px;
    
}

.video-player-2 {
    margin-top:12px;
    margin-bottom: 30px;
    
}

a i {
    text-decoration:none;
    color: #F5F5F5;
}

.social-mobile-color {
    color:rgb(245,245,245)
}

.social-mobile-color:hover {
    color:rgb(178,113,112)
}

.social-link {
    margin:auto;
    max-width:600px;
}

.menu-desktop {
    max-width:1100px;
    margin:auto;
}

.services-menu {
    margin-left:50px;
    width: 150px;
    height: auto;
}

.music-menu {
    margin-left:80px;
    width: 150px;
    height: auto;
}

.videos-menu {
    margin-left: 40px;
    width: 150px;
    height: auto;
}

.contact-menu {
    margin-left: 50px;
    width: 150px;
    height: auto;
}

/*image hover*/
.card-img {
;
    position: relative;
    display: inline-block;
}
.card-img .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card-img:hover .img-top {
    display: inline;
}
/*end of img hover*/

.image-slider {
    width: 95%;
    max-width:1000px;
    margin: auto;
}

.services-content {
    width: 87%;
    max-width: 1000px;
    margin: auto;
}

.services-production {
    width: 95%;
    margin: auto;
}

.center {
    margin: auto;
}

.music-container {
    width:80%;
    max-width:1200px;
    margin: auto;
}

.latest-release-music {
    width:30%;
    margin: auto;
}

.container-contact {
    width: 100%;
    max-width:1200px;
    margin: auto;
}

.email-text {
    width: 80%;
    margin: auto;
}

.phone-text {
    width: 80%;
    margin: auto;
}

.contact-text {
    width: 70%;
    
    height: 200px;
    margin: auto;
}

.container-video {
    width: 80%;
    max-width:1200px;
    margin: auto;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.menu-hover {
    color:rgb(245,245,245)
}

.menu-hover-active {
    color:rgb(178,113,112)
}

h2:hover {
    color:rgb(178,113,112)
}

h3:hover {
    color:rgb(178,113,112)
}

.latest-releases {
    width: 90%;
    margin: auto;
    max-width: 900px;
}

.container-prod {
    width: 80%;
    margin: auto;
    max-width: 900px;
}

.labelMenu {

    color:rgb(178,113,112);
}

.contact-info {
    color:rgb(178,113,112);
    margin:auto;
}

.social-container {
    width: 60%;
    margin:auto;
    max-width: 500px;
    
}

.services-index {
    width:100%;
    margin:auto;
}

.form-enter {
    width:90%;
    margin: auto;
    max-width: 600px;
}

.contact-info-bottom {
    width:70%;
    margin:auto;
    color:rgb(245,245,245)
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.signup {
    margin-top: 40px;
    margin-bottom: 40px;
}

.carousel-inner {
    margin:auto;
    width: 100%;
}



/*text query*/
body {
  /* Never get smaller than this */
  font-size: 12px;
}

@media (min-width:600px) {
  body {
    font-size: 14px;
  }
}

@media (min-width:800px) {
  body {
    font-size: 14px;
  }
}

@media (min-width:1000px) {
  body {
    /* Never get larger than this */
    font-size: 14px;
  }
}

/*back to top button*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color:rgb(178,113,112);
    color:rgb(245,245,245);
    padding: 15px;
    border-radius: 4px;
    opacity:.9;
}

#myBtn:hover {
    background-color: #555;
    opacity:.5;
}
/*end of button*/

a { 
    color: inherit; 
} 